<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VINFAST | TRANG CHỦ</title>
    <link rel="stylesheet" href="~/assets/css/style.css">

</head>

<body>

    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="/"><img src="~/assets/images/lgo daif.png" width="125px"></a>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="/">Trang chủ</a></li>
                        <li><a href="news2.html">Tin tức</a></li>
                        <li><a href="./introduction.html">Giới thiệu</a></li>
                        <li><a href="products.html">Sản Phẩm</a></li>
                        <li><a href="./contact.html">Liên hệ</a></li>
                        <li><a href="account.html">Tài khoản</a></li>
                    </ul>
                </nav>
                <a href="cart.html"><img src="~/assets/images/cart.png" width="30px" height="30px"></a>
                <img src="~/assets/images/menu.png" class="menu-icon"
                     onclick="menutoggle()">
            </div>
            <div class="row">
                <div class="col-2">
                    <h1>"VINFAST" <br>Mãnh liệt tinh thần Việt Nam</h1>
                    <p>
                        Luôn đem đến cho Khách hàng những trải nghiệm thú vị, thân thiện, tin tưởng
                        <br>mang đến sự thuận tiện và thái độ phục vụ đẳng cấp “5 sao”
                        để mang đến sự hài lòng cao nhất cho khách hàng.
                    </p>
                    <a href="news2.html" class="btn">Khám phá ngay &#8594;</a>
                </div>
                <div class="col-2">
                    <img src="~/assets/images/car-president/CE11 (1).png">
                </div>
            </div>
        </div>
    </div>

    <!-- ------------- featured categorries ---------------- -->
    <div class="categories">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="~/assets//images/car-president/CE12.png">
                </div>
                <div class="col-3">
                    <img src="~/assets//images/car-lux-sa/CE15.png">
                </div>
                <div class="col-3">
                    <img src="~/assets//images/car-lux-a/CE16.png">
                </div>

            </div>
        </div>

    </div>
    <!-- ------------- featured products ---------------- -->
    @RenderBody()
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Trải nghiệm Vinfast trên điện thoại di động</h3>
                    <p>Tải trên hai nền tảng Android và IOS</p>
                    <div class="app-logo">
                        <img src="images/play-store.png">
                        <img src="images/app-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="~/assets/images/lgo daif.png">
                    <p>Mãnh liệt tinh thần Việt Nam</p>
                </div>
                <div class="footer-col-3">
                    <h3>Quyền riêng tư và Bảo Mật</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube </li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="Copyright">Bản quyền thuộc về Phạm Đức Anh và Vũ Anh Tùng D15CNPM4</p>
        </div>
    </div>
    <!-- ------------------- js for toggle menu-------------- -->
    <script>
        var MenuItems = document.getElementById("MenuItems");

        MenuItems.style.maxHeight = "0px";

        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "300px";
            }
            else {
                MenuItems.style.maxHeight = "0px";
            }
        }
    </script>
</body>
</html>