<div class="blog">
    <h1>LIÊN HỆ</h1>
</div>

<div class="ntainer">
    <div style="text-align:center">
        <h2>Liên hệ với chúng tôi</h2>
        <p><i>"Cảm hứng là vô tận, với điều kiện bạn phải lao động để nó đến với mình"</i></p>
    </div>
    <div class="row">
        <div class="column">
            <img src="./images/car-president/CE18.png" style=" width:100% ">
        </div>
        <div class="column">
            <form>
                <label for="fname">Họ</label>
                <input type="text" id="fname" name="firstname" placeholder="Họ của bạn">
                <label for="fname">Tên Đệm</label>
                <input type="text" id="fname" name="firstname" placeholder="Tên đệm của bạn">
                <label for="lname">Tên</label>
                <input type="text" id="lname" name="lastname" placeholder="Tên của bạn">
                <label for="country">Địa chỉ </label>
                <select id="country" name="country">
                    <option value="hanoi">Hà Nội</option>
                    <option value="hcm">TP HCM</option>
                    <option value="nd">Nam Định</option>
                </select>
                <label for="subject">Lời nhắn</label>
                <textarea id="subject" name="subject" placeholder="Hãy viết gì đó .." style="height:170px"></textarea>
                <input type="submit" value="Gửi ngay!">
            </form>
        </div>
    </div>
</div>