<!-- ---------- single Products detail ----------- -->
<div class="blog">
    <h1>VINFAST PRESIDENT</h1>
</div>

<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src="./images/car-president/CE11 (1).png" width="100%" id="productImg">

            <div class="small-img-row">
                <div class="small-img-rol">
                    <img src="./images/car-president/CE11 (1).png" width="100%" class="small-img">
                </div>
                <div class="small-img-rol">
                    <img src="./images/car-president/CE12.png" width="100%" class="small-img">
                </div>
                <div class="small-img-rol">
                    <img src="./images/car-president/CE13.png" width="100%" class="small-img">
                </div>
                <div class="small-img-rol">
                    <img src="./images/car-president/CE15.png" width="100%" class="small-img">
                </div>
            </div>

        </div>
        <div class="col-2">
            <p>Home /Vinfast President</p>
            <h1>Vinfast President</h1>
            <h4>$50000.00</h4>
            <select>
                <option>Chọn Kiểu Xe</option>
                <option>Cơ bản</option>
                <option>Nâng Cao</option>
                <option>Pro</option>
                </section>
                <input type="number" value="1">
                <a href="" class="btn">Thêm vào giỏ</a>
                <h3>
                    Chi Tiết Sản Phẩm

                </h3>
                <br>
                <p>
                    President là chiếc SUV bề thế với thiết kế sang trọng cùng những đường gân dập nổi,
                    lưới tản nhiệt hình kim cương ấn tượng
                    và 18 lựa chọn màu sơn độc đáo để khẳng định khí chất riêng biệt của chủ nhân.
                </p>
        </div>
    </div>
</div>

<!-- ----- title------------- -->
<div class="small-container">
    <div class="row row2">
        <h2>Sản phẩm khác</h2>
        <p>Xem thêm</p>
    </div>
</div>

<!-- ---------------Products----------------- -->
<div class="small-container">

    <div class="row">
        <div class="col-4">
            <img src="./images/car-president/CE12.png">
            <h4>Vinfast President</h4>
            <p>$50000.00</p>
        </div>
        <div class="col-4">
            <img src="./images/car-president/CE15.png">
            <h4>Vinfast President</h4>
            <p>$50000.00</p>
        </div>
        <div class="col-4">
            <img src="./images/car-president/CE16.png">
            <h4>Vinfast President</h4>
            <p>$50000.00</p>
        </div>
        <div class="col-4">
            <img src="./images/car-president/CE18.png">
            <h4>Vinfast President</h4>
            <p>$50000.00</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="./images/car-lux-a/CE15.png">
            <h4>Vinfast LUX A 2.0</h4>
            <p>$5000.00</p>
        </div>
        <div class="col-4">
            <img src="./images/car-lux-a/CE14.png">
            <h4>Vinfast LUX A 2.0</h4>
            <p>$5000.00</p>
        </div>
        <div class="col-4">
            <img src="./images/car-lux-a/CE12.png">
            <h4>Vinfast LUX A 2.0</h4>
            <p>$5000.00</p>
        </div>
        <div class="col-4">
            <img src="./images/car-lux-a/CE11.png">
            <h4>Vinfast LUX A 2.0</h4>
            <p>$5000.00</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="./images/car-fadil/CE15.png">
            <h4>VINFAST FADIL</h4>
            <p>$5040.00</p>
        </div>
        <div class="col-4">
            <img src="https://shop.vinfastauto.com/on/demandware.static/-/Sites-app_vinfast_vn-Library/default/dw5be98740/images/Fadil/CE18.png">
            <h4>VINFAST FADIL</h4>
            <p>$5040.00</p>
        </div>
        <div class="col-4">
            <img src="https://shop.vinfastauto.com/on/demandware.static/-/Sites-app_vinfast_vn-Library/default/dw5be98740/images/Fadil/CE18.png">
            <h4>VINFAST FADIL</h4>
            <p>$5040.00</p>
        </div>
        <div class="col-4">
            <img src="https://shop.vinfastauto.com/on/demandware.static/-/Sites-app_vinfast_vn-Library/default/dw5be98740/images/Fadil/CE18.png">
            <h4>VINFAST FADIL</h4>
            <p>$5040.00</p>
        </div>
    </div>
    <div class="page-btn">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>&#8594;</span>
    </div>
</div>