 <!-- Main -->
<div class="blog">
    <h1>Giới thiệu</h1>
</div>
<!-- ------------ offer -------------- -->
<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2"><img src="./images/car-president/CE16.png" class="offer-img"> </div>
            <div class="col-2">
                <p> Xe đã có mặt trên toàn thị trường</p>
                <h1>PRESIDENT</h1>
                <small>
                    Là một trong những mẫu xe thương mại mạnh nhất thị trường,
                    sở hữu động cơ V8 6.2L đạt 420 mã lực mang lại trải nghiệm vận hành uy lực mà êm ái.
                    Cùng với những công nghệ an toàn tân tiến,
                    President sẽ là một lựa chọn hoàn hảo dành cho bạn.
                </small>
                <a href="./products_detal.html" class="btn">Xem Ngay &#8594;</a>

            </div>
        </div>
    </div>
</div>
<!-- ------------ offer -------------- -->
<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2"><img src="./images/car-lux-a/CE13.png" class="offer-img"> </div>
            <div class="col-2">
                <p> Xe đã có mặt trên toàn thị trường</p>
                <h1>LUX A 2.0</h1>
                <small>
                    Sức mạnh 228 mã lực từ khối động cơ 2.0L tăng áp,
                    kết hợp cùng hộp số tự động 8 cấp ZF và hàng loạt công nghệ an toàn tiên tiến,
                    LUX A 2.0 mang đến khả năng vận hành chắc chắn,
                    tự tin cùng chủ nhân chinh phục những cột mốc thành công.
                </small>
                <a href="#" class="btn">Xem Ngay &#8594;</a>
            </div>
        </div>
    </div>
</div>

<!-- ------------ offer -------------- -->
<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2"><img src="./images/car-fadil/CE16.png" class="offer-img"> </div>
            <div class="col-2">
                <p> Xe đã có mặt trên toàn thị trường</p>
                <h1>FADIL </h1>
                <small>
                    Các đường nét thiết kế mang hơi thở châu Âu hòa quyện cùng những điểm nhấn đặc trưng của tinh thần Việt tạo nên một mẫu hatchback lý tưởng cho đô thị,
                    nhỏ gọn và thông minh, sẵn sàng chinh phục mọi cung đường thành phố.
                </small>
                <a href="#" class="btn">Xem Ngay &#8594;</a>
            </div>
        </div>
    </div>
</div>