<div class="row">
    <div class="col-3">
        <ul class="list-group">
            <li class="list-group-item active">
                <a asp-controller="Dashboard" asp-action="Index">Dashboard</a>
            </li>
            <li class="list-group-item"><a asp-controller="Users" asp-action="Index">Users</a></li>
            <li class="list-group-item"><a asp-controller="Posts" asp-action="Index">Tin Tức</a></li>
            <li class="list-group-item"><a asp-controller="CarCategories" asp-action="Index">Danh mục xe</a></li>
            <li class="list-group-item"><a asp-controller="Cars" asp-action="Index">Xe</a></li>
        </ul>
    </div>
    <div class="col-9">
        <div class="jumbotron">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">
                This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                to featured content or information.
            </p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    </div>
</div>